In [3]:
print("String..")

String..

## Variables

In [8]:
name = "Qasim Hassan"
print(name)

Qasim Hassan

In [9]:
type(name)

str

In [10]:
id(name)

2124415196464

#### Datatypes
- Numbers --> `Integers` eg: 35
- Decimal --> `float` eg: 35.5
- Characters/Alphats --> `string` eg: "Qasim Hassan"
- Binary 1/0 OR True/Flase --> `Booleans` eg: True/False

In [ ]:
number = 5000 # creation of variable

In [22]:
print(number) # printing of variables

5000

In [23]:
type(number) # check type of variable

int

In [24]:
id(number) # check address of avriable

2124421538640

In [15]:
weight = 40.6

In [16]:
print(weight)

40.6

In [17]:
type(weight)

float

In [18]:
id(weight)

2124413571216

Apply all these steps on diffferen data types ( string, integer, float, bool)

1- creating a variable eg: variable_name = variable_value
2- printing that variable eg: print(variable_name)
3- check the type of variable eg: type(variable_name)
4- check the address of the variable eg: id(variable_name)

In [25]:
# variabl_name = varibale_value

boolean_var = True

In [26]:
print(boolean_var)

True

In [ ]:
type(boolean_var) # type(variable_name)

bool

In [ ]:
id(boolean_var) # give us address

140725400750848

## Operators

- Addition +
- Subtraction -
- Multiplication *
- Divide /
- Power **

In [29]:
2+5

7

In [30]:
5-3

2

In [31]:
3*3

9

In [ ]:
20/5 # Note it down that divide give result in FLOAT

4.0

In [33]:
2**3 # 2*2*2

8

In [34]:
4**5 # 4*4*4*4*4

1024