## List 

-- Container 

-- Collections of items

-- ordered items

-- mutable

In [ ]:
number_1 =1
number_2 =2
number_3 =3
number_4 =4

In [2]:
students = [] # empty

In [3]:
student_roll_nos = [1,2,3,4,5,6,7,8,9,10] # elements 10 -- values integers 
cities = ['karachi','london','lahore']
boolean_list = [True,False]
my_info = ['Ayan', 'Hussain',15500, 15, 'karachi',True] # insert multiple data types

In [4]:
print(my_info)

['Ayan', 'Hussain', 15500, 15, 'karachi', True]

In [24]:
subjects = ["maths","science","python","eng","urdu"]
marks = [80,90,75,60,85]
print(marks)

[80, 90, 75, 60, 85]

In [22]:
print(marks)

[80, 90, 75, 60, 85]

In [ ]:
marks = [100,200] #over write 
print(marks)

In [ ]:
marks_1 = [100,200] 
print(marks_1)

[100, 200]

In [15]:
# Indexing 
# [0,1,2,3,4,......]
print(subjects[0])
print(marks[4])

maths
85

In [ ]:
roll_nos = [1,2,3,4,5,6]
# [1,2,3,4,5,6]
# [0,1,2,3,4,5] left to right 
print(roll_nos[1])

2

Negative Indexing

In [ ]:
# right to left 
roll_nos = [1,2,3,4,5,6]
# [1, 2, 3, 4, 5, 6]
# [-6,-5,-4,-3,-2,-1]
print(roll_nos[-2])

5

In [28]:
print(roll_nos[-3])

4

In [29]:
print(roll_nos)

[1, 2, 3, 4, 5, 6]

In [31]:
print("roll_nos")

roll_nos

In [33]:
age = 1
print(age)

1

In [ ]:
marks = [80,90,75,60,85]

### Append

In [34]:
students = ['Ayan', 'Hussain', 'Arham']
students.append('javed')
print(students)

['Ayan', 'Hussain', 'Arham', 'javed']

In [35]:
students.append('Qasim')
print(students)

['Ayan', 'Hussain', 'Arham', 'javed', 'Qasim']

### pop

In [36]:
students.pop() # remove the last element
print(students)

['Ayan', 'Hussain', 'Arham', 'javed']

In [37]:
students.pop() # remove the last element
print(students)

['Ayan', 'Hussain', 'Arham']

In [ ]:
students.pop(0) # remove the last element
print(students) # remove value using index

['Hussain', 'Arham']

Remove

In [ ]:
marks = [80,90,75,60,85,100,200] 
marks.remove(80) # delete by value  pop(0)
print(marks)

[90, 75, 60, 85, 100, 200]

In [46]:
students = ['Ayan', 'Hussain', 'Arham']
students.remove('Hussain')
students

['Ayan', 'Arham']

In [39]:
marks = [80,90,75,60,85]
print(len(marks)) # lenght

5

Insert

In [ ]:
nums = [1,2,3,4]
nums.insert(1,100)
print(nums)

# [1,100,2,3,4]

[1, 100, 2, 3, 4]

In [48]:
nums.insert(3,500)
print(nums)

[1, 100, 2, 500, 3, 4]

In [ ]:
nums = [1,2,3,4,5] # 1+2+3+4+5
# aggregate functions 
sum(nums)

15

In [51]:
max(nums)

5

In [52]:
min(nums)

1

### Slicing

In [1]:
country1 = "Pakistan"
country2 = "India"
country3 = "Afghanishtan"
country4 = "China"

In [2]:
print(country4)

China

In [3]:
countries = ["Pakistan", "India", "Afghanistan", "China"]
print(type(countries))

<class 'list'>

In [4]:
countries

['Pakistan', 'India', 'Afghanistan', 'China']

In [ ]:
countries.index("China")

#     0         1         2               3
# ["Pakistan", "India", "Afghanistan", "China"]

3

In [ ]:
# list_name = [starting(included):ending(excluded)]
countries[0:2]

['Pakistan', 'India']

In [15]:
countries[0:3]

['Pakistan', 'India', 'Afghanistan']

In [18]:
countries[2:]

['Afghanistan', 'China']

In [20]:
countries[:2]

['Pakistan', 'India']

In [19]:
countries[:]

['Pakistan', 'India', 'Afghanistan', 'China']

In [ ]:
# list_name = [starting(included):ending(excluded): step]
countries[::2]

['Pakistan', 'Afghanistan']

In [23]:
countries[1::2]

['India', 'China']

In [24]:
countries[:3:2]

['Pakistan', 'Afghanistan']

In [ ]:
#     0         1         2               3
# ["Pakistan", "India", "Afghanistan", "China"]
#     -4          -3        -2            -1

In [30]:
countries[-2]

'Afghanistan'

In [31]:
countries[-4:-2]

['Pakistan', 'India']

In [32]:
countries[-4:-2:2]

['Pakistan']

In [33]:
numbers = [1,2,3,4,5,6,7,8,9,0]

In [35]:
numbers[3:6]

[4, 5, 6]

In [43]:
numbers[1::2]

[2, 4, 6, 8, 0]

In [46]:
numbers[::-1]

[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [49]:
numbers[-2::-2]

[9, 7, 5, 3, 1]

### Tuples

In [ ]:
[1,2,3,4,5,6,7,8,9,0] # list --> mutual --> changeable
(1,2,3,4,5,6,7,8,9,0) # tuple --> Immutable --> not changeable

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [52]:
type([1,2,3,4,5,6,7,8,9,0])

list

In [53]:
type((1,2,3,4,5,6,7,8,9,0))

tuple

In [60]:
lst = [1,2,3,4,5,6,7,8,9,0]
lst.append(11)
lst[0] = 10
lst

[10, 2, 3, 4, 5, 6, 7, 8, 9, 0, 11]

In [63]:
# Becuase of immutablityt tuple will throw ERRORs on updation
tpl = (1,2,3,4,5,6,7,8,9,0)
## tpl.append(11) # AttributeError: 'tuple' object has no attribute 'append'
## tpl[0] = 10 # TypeError: 'tuple' object does not support item assignment

In [ ]:
tpl[2:5] # same slicing principle of list

(3, 4, 5)

In [73]:
## even
## odd
## reverse
tpl[1::2]

(2, 4, 6, 8, 0)

In [72]:
tpl[::2]

(1, 3, 5, 7, 9)

In [74]:
tpl[::-1]

(0, 9, 8, 7, 6, 5, 4, 3, 2, 1)

### Loops

In [77]:
tpl

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [83]:
tpl[0]

1

```text
for <temp-variable> in <iterator>:
    <for loop body>
```

In [85]:
lst

[10, 2, 3, 4, 5, 6, 7, 8, 9, 0, 11]

In [86]:
for i in lst:
    print(i)

10
2
3
4
5
6
7
8
9
0
11

In [97]:
lst = input("Enter a list: ")

In [98]:
lst

'[1,2,3,4,5,6,7,8]'

In [96]:
for i in lst[::-2]:
    print(i)

]
,
,
,
,
,
,
,
[